* {
  font-family: sans-serif;
}

body {
  margin: 0;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding: 0px 50px;
}

@media screen and (max-width: 767px) {
  .container {
    padding: 0 20px;
  }
}